body {
  margin: 0;
}

/* .App {
  font-family: sans-serif;
  text-align: center;
} */

.confettie-wrap {
  background-color:transparent; 
  padding:200px;
}

/* .confettie-wrap h3 {
  margin: 0;
  color: white;
  letter-spacing: 2px;
} */
